

<section id="Educacion"> 

  <div class="row" *ngFor= "let educaciones of educacion">
    <div class="col-3"></div>
    <h4>{{educacion.institucion}}</h4>
    <h5>{{educacion.inicio}}  {{educacion.final}}</h5>
    <h5>{{educacion.descripcion}}</h5>
    </div>


   
<div class="container justify-content-center">
  <h3 class="titulo-centrado">Education</h3>


  <button type="button" data-bs-toggle="modal"
data-bs-target="#educacionModal" class="btn-close" aria-label="Close"></button>

<button type="button" class="btn btn-outline-primary">Editar</button>
  <div class="row justify-content-center">
    <div class="education-image-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <strong>Desarrollador Full Stack Jr</strong>
      <div class="row">2022-2023</div> 
        </div>
          <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
            <p><i>
        <strong>Argentina Programa</strong><br>
        Tuve la suerte de ingresar al Programa "Argentina Programa", realizar un primer cursado por 3 meses de "Se Programar" y concluir con el curso de "Yo programo" logrando obtener el certificado de "Desarrollador Full Stack Junior"
          </i></p>
    </div>
  </div>
  <hr>

  <button type="button" data-bs-toggle="modal"
data-bs-target="#educacionModal" class="btn-close" aria-label="Close"></button>

<button type="button" class="btn btn-outline-primary">Editar</button>
  <div class="row justify-content-center">
    <div class="education-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <strong>Diseñador de Riego Automatizado</strong>
      <div class="row">2020 - 2020</div>
    </div>
    <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
      <p><i>
        <strong>Diseñador de Riego Automatizado</strong><br>
        Curso realizado en Capital Federal - Agentina, donde logre el Certificado de Disañador de Riego Automatizado". 
      </i></p>
    </div>
  </div>    
  <hr>


  <button type="button" data-bs-toggle="modal"
data-bs-target="#educacionModal" class="btn-close" aria-label="Close"></button>

<button type="button" class="btn btn-outline-primary">Editar</button>
  <div class="row justify-content-center">
    <div class="education-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <strong>Paisajista</strong>
      <div class="row">2019 - 2019</div>
    </div>
    <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
      <p><i>
        <strong>Postgrado en Paisajismo</strong><br>
        Carrera de Postgrado realizado en la Universidad de Arquitectura de la provincia de Tucuman, que me incursiono en el manejo, apreciacion y diseño del Paisajismo y la naturaleza en su conjunto.
            </i></p>
    </div>
  </div>
  <hr>


  <button type="button" data-bs-toggle="modal"
data-bs-target="#educacionModal" class="btn-close" aria-label="Close"></button>

<button type="button" class="btn btn-outline-primary">Editar</button>
  <div class="row justify-content-center">
    <div class="education-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <strong>Abogado</strong>
      <div class="row">1999 - 2006</div>
    </div>
    <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
      <p><i>
        <strong>Universidad Nacional de Tucuman</strong><br>
        Culmine la carrera de Abogacia en la Universidad Nacional de Tucuman, donde comence a introducirme en la programacion estudiando mi primer curso de Lex Doctor (base de datos de gestiones de estudios Juridicos)
      </i></p>
    </div>
  </div>
  <hr>
</div>  




  
  

  

  
