

<section id="sobre"></section>

<!---SECCIONES-->
<!---ABOUT ME-->
<div class="container bio arriba" id="home">
  <h3 class="titulo-centrado">Something about me</h3>
    <div class="row justify-content-center">
      <div class="bio-image-col col-xs-3 col-sm-6 col-md-4 col-lg-4 col-xl-3">
       <img class="rounded-circle img-fluid" src="./../../../assets/foto perfil.jpeg" alt="Karin">
         </div>
          <div class="col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
           <p><i>
      ¡Hola! <br>
      Yo soy <strong>Mariano d'Hiriart</strong>. Soy musico baterista, paisajista, instalador de riego automatizado y abogado.<br>
      Mi meta es aprender y crecer profesionalmente como <strong>Desarrollador Full Stack</strong>.<br>
      Busco formarme, estar actualizado, y poner en practica lo aprendido.<br>
      Soy una persona curiosa, creativa, empática, en busqueda constante del conocimiento y las nuevas experiencias.<br>
      Me gustaría ser parte de un equipo y proyectos que me permitan seguir desarrollándome como profesional, mejorar mis habilidades 
      y colaborar para lograr los objetivos. <br>
             </i></p>
            </div>
           </div>
          </div>

