

<!--seccion Trabajos-->
<section id="Trabajos"> 




    <div class="row" *ngFor= "let trabajitos of trabajos">
    <div class="col-3"></div>
    <h4>{{trabajos.institucion}}</h4>
    <h5>{{trabajos.inicio}}  {{trabajos.final}}</h5>
    <h5>{{trabajos.descripcion}}</h5>
    </div>



      <!--Button trigger modal-->
     
      
     

  <div class="container justify-content-center">

<h3 class="titulo-centrado">Trabajos</h3>


<button type="button" data-bs-toggle="modal"
data-bs-target="#trabajosModal" class="btn-close" aria-label="Close"></button>

<button type="button" class="btn btn-outline-primary">Editar</button>

    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
 <strong>Abogado</strong>
        <div class="row">2011 - actualidad</div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
         Abogado de hace mas de 15 años en diferentes ramas del derecho, Actualmente desarrollo actividades de "Estrategias en recupero de Deudas de empresas privadas".<br>
           </i></p>
           </div>
          </div>
        </div>
    <hr>
    


    
    <button type="button" data-bs-toggle="modal"
    data-bs-target="#trabajosModal" class="btn-close" aria-label="Close"></button>
    <button type="button" class="btn btn-outline-primary">Editar</button>
      <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Diseñador de Riego</strong>
        <div class="row">2021 - actualidad</div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Realizo diseño de riego de jardines en casa de familia, en campos y negocios<br>
          Mido pluviometrias, bombas, aspersores, superficies, etc. <br>
        </i></p>
        </div>
      
<hr>
 </div>
<button type="button" data-bs-toggle="modal"
data-bs-target="#trabajosModal" class="btn-close" aria-label="Close"></button>
<button type="button" class="btn btn-outline-primary">Editar</button>
  <div class="row justify-content-center">
  <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <strong>Baterista</strong>
    <div class="row">2001 - actualidad</div>
  </div>
  <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
    <p><i>
      Baterista de Banda de Rock<br>
      Baterista de dos Bandas de Musica en Tucuman. <br>
    </i></p>
    </div>
  </div>
  
<hr>
    
   